parameters:
  # webdav connector values
    middleware_webdav_url: {{ symfony2.webdav_url }}
    middleware_webdav_username: {{ symfony2.webdav_user }}
    middleware_webdav_password: {{ symfony2.webdav_pass }}